.Title {
    font-size: 2em;
    margin: 52px 0 40px;
    text-transform: capitalize;
}

.GalleryContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    -ms-align-items: flex-start;
    align-items: flex-start;
}